.p {
  margin: 0;
}

.small {
  font-size: 14px;
  line-height: 24px;
}

.medium {
  width: 300px;
  height: 400px;

  border: 1px soild #CCC;
  background: #FCFCFC;

  font-size: 16px;
  line-height: 24px;
}

.large {
  font-size: 18px;
  line-height: 29px;
}
