.box {
  display: block;
  margin: 1rem 0.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: auto;
  height: 100%;

  grid-row-gap: 1rem;
  padding: 0.5rem 1rem;
  justify-content: end;
  align-content: end;
}

.message {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "message__name message__date"
    "message__text message__text";
}

.message__name {
  grid-area: message__name;
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
  font-size: 1rem;
  font-weight: bold;
}

.message__date {
  grid-area: message__date;
  text-align: right;
  line-height: 1.3rem;
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.9rem;
}

.message__text {
  grid-area: message__text;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
