.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 0.5fr) 2fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  height: 100%;
}
.aside {
  background-color: var(--black);
  padding: 1rem;
  color: var(--gray);
}
.content {
  padding: 2rem;
}
.user {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0px 1rem;
  align-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.navi {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navi li {
  margin: 5px;
  padding: 0;
}
.navi li a,
.navi li span {
  display: block;
  padding: 3px 6px;
  border-radius: 6px;
}
.navi li.active a:hover,
.navi li.active a {
  background: var(--primary-hover);
  color: var(--black);
  /* background: rgba(76, 84, 84, 0.5); */
}
.navi li a:hover,
.navi li span:hover {
  background: rgba(76, 84, 84, 0.3);
  cursor: pointer;
}
.stats img {
  vertical-align: middle;
  margin-right: 3px;
}
.stats span {
  margin-right: 6px;
}
.logout {
  cursor: pointer;
  background: var(--primary)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z'/%3E%3Cpath fill-rule='evenodd' d='M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z'/%3E%3C/svg%3E")
    no-repeat 90% 6px;
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-decoration: underline;
  color: var(--black);
  padding: 3px 32px 3px 8px;
  border-radius: 6px;
  border: 1px solid var(--primary);
  text-decoration: none;
}
.logout:hover {
  background-color: var(--primary-hover);
}
