.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 1fr;

  overflow-y: scroll;

  align-content: start;

  height: 100%;
}

.wrapper::before {
  margin-top: auto;

  content: "";
}
