.button {
  display: inline-block;
  margin: 1rem 0.5rem;
}

.button__wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;

  width: 270px;

  grid-row-gap: 1rem;
  padding: 0.5rem 1rem;

  border: 1px solid #CCC;
  border-radius: 2rem;
}

.button__name {
  align-self:center;
}
