.avatar {
  display: inline-block;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  gap: 0px 0px;
  padding: 0.5rem 1rem;
  transition: all 0.2s;
  border-radius: 2rem;
  border: 1px solid var(--green-light);
  align-items: center;
  margin-bottom: 1rem;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 2px 2px 13px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: 2px 2px 13px 0px rgba(50, 50, 50, 0.33);
  box-shadow: 2px 2px 13px 0px rgba(50, 50, 50, 0.33);
}

.score {
  font-size: 2rem;
  text-align: center;
}
.left_img {
  text-align: right;
}
.left_name,
.right_name {
  text-align: left;
  font-size: 1.1rem;
  padding-right: 1rem;
  vertical-align: middle;
}
.left_name {
  text-align: right;
}
