.wrapper {
  background: url(../public/Ping_Pong_Icon.png) top right no-repeat;
  background-size: 35vw;
  margin: 0 6vw;
}

.h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 8rem;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;

  color: var(--white);
}

.desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 94.4%;
  margin: 0 0 4rem;
  padding: 0;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--green-light);
}

.h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.04em;

  color: var(--white);
}

.pp_icon {
  float: right;
}

.content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.04em;

  color: var(--white);
}

.table_image {
  float: left;
  margin-right: 2rem;
}
