html,
body {
  margin: 0;
  padding: 0;

  color: var(--white);
  background: var(--green);

  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000;
  --gray: #999;
  --white: #FFF;
  --primary: #FFB886;
  --primary-hover: #DFA876;
  --red: #FC836D;
  --green: #057A68;
  --green-light: #68CFBF;
  --green-lightlight: #88EFDF;
  --green-lightdark: #48AF9F;
  --green-dark: #005D58;
  --font-family: "Roboto", sans-serif;
  --online: #3BDF4B;
  --ingame: #FBFF4F;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  gap: 40px 30px;
  grid-template-areas: "leftplayer gamearea rightplayer";
}

.leftplayer {
  grid-area: leftplayer;
}

.gamearea {
  grid-area: gamearea;
}

.rightplayer {
  grid-area: rightplayer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table thead td {
  color: var(--green-light);
  border-bottom: 2px solid var(--green-light);
}

table td {
  border-bottom: 1px solid var(--green-lightdark);
  padding: .5rem;
}

table td a {
  font-weight: bold;
  color: var(--primary);
}
