html,
body {
  margin: 0;
  padding: 0;

  color: var(--white);
  background: var(--green);

  font-family: "Roboto", sans-serif;
  height: 100%;
}
#__next {
  height: 100%;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000;
  --dark-gray: #333;
  --gray: #999;
  --white: #fff;
  --primary: #ffb886;
  --primary-hover: #dfa876;
  --red: #fc836d;
  --green: #057a68;
  --green-light: #68cfbf;
  --green-lightlight: #88efdf;
  --green-lightdark: #48af9f;
  --green-dark: #005d58;
  --font-family: "Roboto", sans-serif;
  --online: #3bdf4b;
  --ingame: #fbff4f;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  gap: 40px 30px;
  grid-template-areas: "leftplayer gamearea rightplayer";
}

.leftplayer {
  grid-area: leftplayer;
}

.gamearea {
  grid-area: gamearea;
}

.rightplayer {
  grid-area: rightplayer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table thead td {
  color: var(--green-light);
  border-bottom: 2px solid var(--green-light);
}

table td {
  border-bottom: 1px solid var(--green-lightdark);
  padding: 0.5rem;
}

table td a {
  font-weight: bold;
  color: var(--primary);
}

.info-message {
  text-align: center;
  background-color: var(--green-dark);
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.error-message {
  text-align: center;
  background-color: darkred;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.form {
  margin: 0 auto;
  width: 80%;
}

.loginform {
  width: 14vw;
  min-width: 300px;
}

.line {
  margin: 1rem 0;
}

.home__h2 {
  margin: 4rem 0 2rem;
}

.home__list {
  margin: 2rem 0 4rem;
  padding: 0;
}

.home__list li {
  background: url("/li.png") no-repeat 0 0;
  list-style-type: none;
  padding-left: 3rem;
  margin: 1rem 0;
}

.home__table_image {
  float: left;
  margin-right: 4rem;
  margin-bottom: 4rem;
}

.backlink {
  color: var(--green-light);
  cursor: pointer;
  font-size: 0.9rem;
  margin: 1rem 0 2rem;
}

hr {
  margin: 1rem 0;
  height: 1px;
  background-color: var(--dark-gray);
  border: 0px none;
}
