.bg {
  background: #057a68;
}

.title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 130px;
  line-height: 152px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.title_2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 94.4%;
  /* or 30px */

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #5fceb2;
}

.title_3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.pp_icon {
  float: right;
}

.sign_in_school {
}

.decr_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.game_field {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 16px;
}
