.button {
  display: inline-block;

  box-sizing: border-box;
  padding: 9px 24px;
  margin: 0;

  cursor: pointer;
  transition: all 0.2s;
  text-align: center;

  border: none;
  border-radius: 4px;

  font-size: 14px;
}

.button img {
  height: 32px;
  vertical-align: middle;
  margin-right: 1rem;
}

.large {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.button:hover {
  -webkit-box-shadow: 2px 2px 13px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 2px 2px 13px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 2px 2px 13px 0px rgba(50, 50, 50, 0.5);
}

.primary {
  color: var(--black);
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.ghost {
  color: var(--black);
  background-color: var(--green-light);
}

.ghost:hover {
  background-color: var(--green-lightlight);
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.down {
  transition: all 0.2s;
  transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
  fill: var(--black);
}
